/*================================
  :: Bootstrap Glyphicon Icons
  ================================*/
.page-icons {
  .wi, .glyphicon {
    display: block;
    font-size: 26px;
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 10px;
  }
  .glyphicon-class {
    display: block;
    font-size: 11px;
    text-align: center;
    word-wrap: break-word;
  }
}